name: Check Run - Completed

on:
  workflow_dispatch:
  check_run:
    types:
      - completed

jobs:
  check-run-completed:
    name: Check Run - Completed

    runs-on: ubuntu-latest

    steps:
      - name: Log Context
        uses: actions/github-script@v7
        with:
          script: |
            console.log(JSON.stringify(context))
